.navbar {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  .brand {
    height: 50px;
    width: 25%;
    display: flex;
    align-items: center;
    img {
      height: 40px;
      margin-left: 75px;
    }
  }
  .nav {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    list-style: none;
    a {
      text-decoration: none;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 21px;
      letter-spacing: 0.06em;
      color: #4461f2;
    }
    .link {
      position: relative;
      height: 42px;
      width: 112px;
      margin-right: 75px;
      padding: 7px 15px;
      color: #4461f2;

      &::after {
        content: "";
        height: 0px;
        width: 50%;
        position: absolute;
        left: 0;
        top: 100%;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: transparent;
        border: 1.5px solid transparent;
        border-radius: 10px;
        transition: 0.2s;
      }
      &:hover {
        &::after {
          background-color: #4461f2;
        }
      }
    }
  }
  .mat-menu {
    margin-right: 50px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.06em;
    color: #4461f2;
    cursor: pointer;
  }
}
