.navbar {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  .brand {
    height: 50px;
    width: 25%;
    display: flex;
    align-items: center;
    img {
      height: 40px;
      margin-left: 75px;
    }
  }
  .nav {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    list-style: none;
    a {
      text-decoration: none;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 21px;
      letter-spacing: 0.06em;
      color: #4461f2;
    }
    .link {
      margin-right: 75px;
      padding: 7px 15px;
      border-radius: 3px;
      color: white;
      background-color: #4461f2;
      border: 2px solid transparent;
      transition: 0.5s;
      &:hover {
        background-color: white;
        color: #4461f2;
        border: 2px solid #4461f2;
      }
    }
  }
}
