.home_container {
  height: 100%;
  width: 100%;
  .messages_container {
    height: calc(100vh - 100px);
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 50px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #616161;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #424242;
    }
    .message {
      margin-left: 10px;
      &:first-child {
        margin-top: 100px;
      }
    }
  }
  .input_container {
    height: 100px;
    width: 100%;
  }
}
