<div class="container">
  <app-navbar [locationName]="'login'"></app-navbar>
  <app-error-toast
    [toastData]="toastData"
    (closeToastEvent)="closeToast($event)"
  ></app-error-toast>
  <div class="main_container">
    <div class="banner">
      <div class="message">Sign In to Chat</div>
      <div class="register_here">
        if you don’t have an account yet you can
        <a [routerLink]="['/register']"> Register here! </a>
      </div>
    </div>
    <form class="form" [formGroup]="loginForm">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="Email"
          formControlName="email"
          autocomplete="off"
          [ngClass]="{
            'is-invalid':
              (formControls.email.invalid &&
                (formControls.email.dirty || formControls.email.touched)) ||
              (submitted && formControls.email.errors?.required)
          }"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          formControlName="password"
          autocomplete="off"
          [ngClass]="{
            'is-invalid':
              (formControls.password.invalid &&
                (formControls.password.dirty ||
                  formControls.password.touched)) ||
              (submitted && formControls.password.errors?.required) ||
              formControls.password.errors?.password
          }"
        />
      </div>
      <button type="submit" class="btn btn-default" (click)="login()">
        Login
      </button>
    </form>
  </div>
</div>
