.container {
  min-height: 97vh;
  min-width: 97vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  .main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .banner {
      font-family: "Gilroy";
      font-style: normal;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .message {
        font-weight: 700;
        font-size: 58px;
        line-height: 77px;
      }

      .register_here {
        width: 305px;
        font-weight: 500;
        font-size: 23px;
        line-height: 28px;

        a {
          text-decoration: none;
          color: #4461f2;
        }
      }
    }
    form {
      height: 230px;
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #ffffff;
      gap: 15px;
      margin-top: 5px;

      button {
        height: 45px;
        width: 250px;
        border: none;
        background-color: #4461f2;
        font-family: Gilroy;
        font-size: 19px;
        font-weight: 700;
        letter-spacing: 0.09em;
        color: white;
        cursor: pointer;
        transition: 0.5s;
        border-radius: 3px;
        box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
      }
    }
  }
}

@media screen and (min-width: 1125px) {
  .container {
    .main_container {
      flex-direction: row;
      .banner {
        align-items: flex-start;
      }
      form {
        margin-top: 0;
      }
    }
  }
}
