<div class="container">
  <app-navbar [locationName]="'register'"></app-navbar>
  <div class="main_container">
    <div class="banner">
      <div class="message_container">
        <div class="message">Real Time Chat</div>
        <div class="slogan">create an account to start using this app</div>
      </div>
      <img src="../../../assets/register/man-falling.svg" alt="man" />
    </div>
    <form class="form" [formGroup]="registerForm">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          autocomplete="off"
          formControlName="username"
          [ngClass]="{
            'is-invalid':
              (formControls.username.invalid &&
                (formControls.username.dirty ||
                  formControls.username.touched)) ||
              (submitted && formControls.username.errors?.required)
          }"
          (click)="focus('username')"
        />
        <div class="is-invalid" *ngIf="usernameError">
          Username already in use.
        </div>
      </div>
      <div class="form-control">
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          autocomplete="off"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              (formControls.email.invalid &&
                (formControls.email.dirty || formControls.email.touched)) ||
              (submitted && formControls.email.errors?.required)
          }"
          (click)="focus('email')"
        />
        <div *ngIf="emailError" class="is-invalid">Email already in use.</div>
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          autocomplete="off"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              (formControls.password.invalid &&
                (formControls.password.dirty ||
                  formControls.password.touched)) ||
              (submitted && formControls.password.errors?.required)
          }"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Confirm Password"
          autocomplete="off"
          formControlName="confirmPassword"
          [ngClass]="{
            'is-invalid':
              (formControls.confirmPassword.invalid &&
                (formControls.confirmPassword.dirty ||
                  formControls.confirmPassword.touched)) ||
              (submitted && formControls.confirmPassword.errors?.required)
          }"
        />
        <div
          *ngIf="formControls.confirmPassword.errors?.mustMatch"
          class="is-invalid ml-10"
        >
          Passwords don't match.
        </div>
      </div>
      <button type="submit" class="btn btn-default" (click)="signUp()">
        Create Account
      </button>
    </form>
  </div>
</div>
